<h1>HeadCount!</h1>
<h4>Keep track of your stylists and their clients</h4>

<div class="col-md-6">
  <p>Add a Stylist:</p>

  <form action="/stylists" method="post">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add to Employee List</button>
  </form>

  <% if @stylists.any?() %>
  <p>Click on a stylist to see his or her clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no stylists yet!</p>
  <% end %>
</div>
