<!DOCTYPE html>
<html>
<head>
  <title>Head Count</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css'>
</head>
<body>
  <div class="container">
    <div class="col-md-6">
      <p> <img src="/img/1950.jpg" alt="photo of hairdresser from 1950" class="img-rounded" alt="Responsive image" /> </p>
    </div>

    <%= yield %>
  </div>
</body>
</html>
